# -*- mode: conf -*-

[init]
	defaultBranch = main
[core]
	editor = emacs
[commit]
        gpgsign = true
[user]
	name = Vitaly Samigullin
	useConfigOnly = true

[include]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/git/github.com/anna-money/"]
  path = ~/.gitconfig.work

[gpg]
        program = /usr/local/bin/gpg
[color]
	ui = true
[pager]
	branch = false
[push]
	autoSetupRemote = true
	default = current
[alias]
	graph = log --graph --oneline --decorate
        am = commit --amend
	co = checkout
	cm = commit
	st = status
	br = branch
        p = push
        pf = push --force-with-lease
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
        undo = reset HEAD~1 --mixed
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[merge]
    conflictstyle = zdiff3
[help]
    autocorrect = prompt
